.box {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  background-color: rgb(240, 240, 240);
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.list {
  display: flex;
  justify-content: center;
}

.item {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-right: 1px solid rgb(214, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);
  border-top: 2px solid rgb(214, 214, 214);
  border-bottom: 2px solid rgb(214, 214, 214);
  &:first-of-type {
    border-left: 2px solid rgb(214, 214, 214);
  }

  &:last-of-type {
    border-right: 2px solid rgb(214, 214, 214);
  }
}
